<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% if title %}
      <title>ValueMax Membership - {{ title }}</title>
    {% else %}
      <title>ValueMax Membership</title>
    {% endif %}
  </head>
  <body>

  <!-- flashed messages  -->
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          <em>{{ message }}</em>
        {% endfor %}
      {% endif %}
    {% endwith %}
    
    <!-- other pages extend here -->
    {% block content %}{% endblock %}
  </body>
</html>